body{
    font-family: sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: 500px;

}

.text{
    text-align: center;
}

h1{
    margin-bottom: 30px;
}

.star{
    background-image: url(../img/stars.svg);
    background-size: 100%;
    height: 40px;
}

p{
    line-height: 25px;
}

.browser{
    color: white;
    margin: 0 auto;
    border-radius: 30px;
}

.mac{
    color: black;
    margin: 0 auto;
    border-radius: 30px;
}

.border{
    border-radius: 30px;
}

.item1{
    background-image: url(../img/item1.svg);
    min-height: 450px;
}

.item2{
    background-image: url(../img/item2.svg);
    min-height: 450px;
}

.item3{
    background-image: url(../img/item3.svg);
    min-height: 450px;
}

.menu-column > ul{
    list-style: none;

}

.dashed{
    border: dashed 2px black;
} 

.dashed-white{
    border: dashed 2px white;
}

#login-column{
    text-align: right;
    border: solid 2 px white;
    background-color: black;
    color: white;
}

#jumbotron{
    padding: 50px;
}

.jumbo-content{
    margin: 0 auto;
    min-height: 300px;
}

.minHeight{
    min-height: 350px;
}

footer > hr {
    margin-bottom: 64px;
}
